* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f0f0f0;
  --dark-color: rgb(77, 77, 77);
  --light-color: white;
  --highlight-color: #f8be3b;
  --text-color: black;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
}

.nav-links a {
  all: unset;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 6px 10px;
  border-radius: 4px;
  text-align: center;
  min-width: 50px;
}

.nav-links a:hover {
  background-color: var(--highlight-color);
  color: var(--light-color);
}

/* Fonturi predefinite */

.font-300 {
  font-weight: 300;
}

.font-600 {
  font-weight: 600;
}
/*font-size*/
.font-size-xsmall {
  font-size: 10px;
}

.font-size-small {
  font-size: 12px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-large {
  font-size: 22px;
}

/* Clase predefinite */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-arround {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 10px;
}

/* clase custom */

.logo {
  width: 250px;
}

.navbar {
  background-color: var(--light-color);
  padding: 10px 0;
}
