* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #d7dbe0;
  --dark-color: #304154;
  --light-color: white;
  --highlight-color: #ffaa29;
  --text-color: black;
}

body {
  font-family: "Saira", sans-serif;
  font-style: normal;
  background-color: var(--primary-color);
}

a {
  all: unset;
}

.nav-links a {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  /*background-color: var(--dark-color);*/
  color: var(--dark-color);
  padding: 6px 15px;
  text-align: center;
  min-width: 40px;
}

.nav-links a:hover {
  border-radius: 50px;
  background-color: var(--highlight-color);
  color: var(--light-color);
}

/* Fonturi predefinite */

.font-300 {
  font-weight: 300;
}

.font-600 {
  font-weight: 600;
}
/*font-size*/
.font-size-xsmall {
  font-size: 10px;
}

.font-size-small {
  font-size: 12px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-large {
  font-size: 22px;
}

/* Spacer */

.spacer-30 {
  height: 30px;
}

/* Clase predefinite */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-arround {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 10px;
}

/* clase custom */

.logo {
  width: 250px;
  cursor: pointer;
}

.container {
  margin: auto;
  margin-top: 20px;
  max-width: 1400px;
  background-color: white;
  padding: 10px 30px 15px;
  border-radius: 30px;
}

.navbar {
  height: 60px;
  background-color: var(--light-color);
  padding: 10px 0 10px;
}

.page-title {
  margin-bottom: 20px;
}

/*Card design*/

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-container {
  flex: 0 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
  background-color: var(--light-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(69, 69, 158, 0.15) 0px 40px 70px -60px,
    rgba(56, 87, 107, 0.15) 0px 30px 60px -0px;
}

.card-container:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(111, 111, 156, 0.25) 0px 50px 100px -20px,
    rgba(56, 87, 107, 0.3) 0px 30px 60px -30px;
}

.card-container:hover .card-image img {
  transform: scale(1.02);
}

.card-image {
  position: relative;
  background-color: var(--primary-color);
  padding: 20px 10px;
  margin: 10px;
  border-radius: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  transition: transform 0.3s ease;
  position: relative;
  flex-shrink: 0;
  width: 220px;
  height: 220px;
  margin: auto;
}

.card-promo {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  background-color: rgb(215, 65, 65);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  z-index: 1;
}

.card-product-category {
  font-size: 13px;
  color: #a2b1c2;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin: 2px 0 15px;
  color: var(--dark-color);
}

.card-details li {
  font-size: 15px;
  list-style-type: none;
  color: #7b8694;
}

.card-price {
  font-size: 30px;
  font-weight: 600;
  color: var(--highlight-color);
  margin: 10px 0 16px;
}

.card-button {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px;
  border: 1px solid rgb(223, 228, 230);
  margin: 0 10px 10px;
  border-radius: 20px;
}

.card-button:hover {
  background-color: var(--highlight-color);
  color: #ebf0f5;
  cursor: pointer;
  border: 1px solid var(--highlight-color);
}
